#books {
  margin: 112px 0 0 0;
  .books {
    .books--title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h1 {
        font-family: Public Sans, sans-serif;
        font-size: 48px;
        font-weight: 500;
      }
      p {
        font-family: Public Sans, sans-serif;
        font-size: 18px;
        font-weight: 500;
        color: rgba(129, 142, 234, 1);
        margin-top: 10px;
      }
    }
  }
  .cards {
    display: flex;
    overflow-x: scroll;
    margin: 64px 0 0 9.8%;
    gap: 40px;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
