#genres {
  margin: 112px 0 24px 0;
  .genres {
    margin: 0 5px 0 5px;
    .genres--title {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      align-self: stretch;
      h1 {
        font-family: Public Sans, sans-serif;
        font-size: 48px;
        font-weight: 500;
      }
      p {
        font-family: Public Sans, sans-serif;
        font-size: 18px;
        font-weight: 500;
        color: rgba(129, 142, 234, 1);
        // margin-top: -10px;
      }
    }
    .genres--list {
      margin: 60px 0 0 0;
      display: flex;
      justify-content: space-between;
      gap: 40px;
      align-items: center;
      overflow-x: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
      .genres--list_card {
        width: 148px;
        height: 194px;
        padding: 24px;
        border-radius: 16px;
        border: 1px;
        gap: 24px;
        justify-content: center;
        align-items: center;
        background: linear-gradient(0deg, #e1e1e1, #e1e1e1),
          linear-gradient(0deg, #f5f5f5, #f5f5f5);
      }
      img {
        width: 100px;
        height: 100px;
      }
      h4 {
        font-family: Public Sans, sans-serif;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        margin-top: 24px;
      }
    }
  }
}
